{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}" />

        <!-- =====BOX ICONS===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
          <link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet">
  		  <link href="/your-path-to-fontawesome/css/brands.css" rel="stylesheet">
  		  <link href="/your-path-to-fontawesome/css/solid.css" rel="stylesheet">
  		  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

        <title>Alfian Website</title>
    </head>
    <body>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="#" class="nav__logo">Alfian Dimas</a>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#home" class="nav__link active">Home</a></li>
                        <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                        <li class="nav__item"><a href="#skills" class="nav__link">Skills</a></li>
                        <li class="nav__item"><a href="#work" class="nav__link">Work</a></li>
                        <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--===== HOME =====-->
            <section class="home bd-grid" id="home">
                <div class="home__data">
                    <h1 class="home__title">Hi,<br>I'am <span class="home__title-color">Alfian</span><br> Student Collage</h1>

                    <a href="#" class="button">Contact</a>
                </div>

                <div class="home__social">
                    <a href="https://www.linkedin.com/in/alfian-dimasara/" class="home__social-icon"><i class='bx bxl-linkedin'></i></a>
                    <a href="https://dribbble.com/alfian_ara" class="home__social-icon"><i class='bx bxl-dribbble' ></i></a>
                    <a href="https://gitlab.com/alfiandimas" class="home__social-icon"><i class='bx bxl-gitlab' ></i></a>
                </div>

                <div class="home__img">    
                    <img src="{% static 'assets/img/jadi.png' %}" alt="">
                </div>
            </section>

            <!--===== ABOUT =====-->
            <section class="about section " id="about">
                <h2 class="section-title">About</h2>

                <div class="about__container bd-grid">
                    <div class="about__img">
                        <img src="{% static 'assets/img/profil.jpg'%}" alt="">
                    </div>
                    
                    <div>
                        <h2 class="about__subtitle">I'am Alfian</h2>
                        <p class="about__text">Hello, my name is Alfian Dimas Ahasanul Rizki Ahmad. I am an active student at Raharja University, majoring in Information System. I have an interest in digital, organizational, and volunteering. 

<br>
						I want to deepen my skills by getting a lot of projects because it can make me grow.


						And I like UI/UX Design, Photography, Editing Video in adobe premiere, editing photo in adobe lightroom. and I have basic in HTML ,CSS ,JS, C++, Bootstrap, SQL Postgres. Office 365. Google docs, slides, spreadsheet.
						<br><br>

						My hobbies include reading a book, playing football, making a short movie, Photography, and learning to code. Etc..
						</p>           
                    </div>                                   
                </div>
            </section>

            <!--===== SKILLS =====-->
            <section class="skills section" id="skills">
                <h2 class="section-title">Skills</h2>

                <div class="skills__container bd-grid">          
                    <div>
                        <h2 class="skills__subtitle">Profesional Skills</h2>
                        <p class="skills__text">This is my skill list.</p>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-html5 skills__icon'></i>
                                <span class="skills__name">HTML5</span>
                            </div>
                            <div class="skills__bar skills__html">

                            </div>
                            <div>
                                <span class="skills__percentage">95%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-django skills__icon'></i>
                                <span class="skills__name">Django</span>
                            </div>
                            <div class="skills__bar skills__django">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">25%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                            	<i class='bx bxl-python skills__icon'></i>
                                <span class="skills__name">Python</span>
                            </div>
                            <div class="skills__bar skills__js">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">65%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxs-paint skills__icon'></i>
                                <span class="skills__name">UX/UI</span>
                            </div>
                            <div class="skills__bar skills__ux">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">85%</span>
                            </div>
                        </div>

                    </div>
                    
                    <div>              
                        <img src="{% static 'assets/img/work3.jpg'%}" alt="" class="skills__img">
                    </div>
                </div>
            </section>

            <!--===== WORK =====-->
            
            <section class="work section" id="work">
                <h2 class="section-title">Work</h2>

                 
                <div class="work__container bd-grid">
                    {% for Project in dbProject %}
                    
                    <div class="work__img">
                        
                    	<a href="{{Project.link}}"><img src="{{Project.image}}" alt=""></a>
                      
                    </div>

                    {% endfor %}
            </section>
            
            <!--===== CONTACT =====-->
            <section class="contact section" id="contact">
                <h2 class="section-title">Contact</h2>

                <div class="contact__container bd-grid">
                    <form action="" class="contact__form">
                        <input type="text" placeholder="Name" class="contact__input">
                        <input type="mail" placeholder="Email" class="contact__input">
                        <textarea name="" id="" cols="0" rows="10" class="contact__input"></textarea>
                        <input type="button" value="Contact Me" class="contact__button button"> 
                    </form>
                </div>
            </section>
        </main>

        <!--===== FOOTER =====-->
        <footer class="footer">
            <p class="footer__title">Alfian</p>
            <div class="footer__social">
                <a href="https://www.facebook.com/profile.php?id=100002584094624" class="footer__icon"><i class='bx bxl-facebook' ></i></a>
                <a href="https://www.instagram.com/alfian_ara/" class="footer__icon"><i class='bx bxl-instagram' ></i></a>
                <a href="https://twitter.com/araaking12" class="footer__icon"><i class='bx bxl-twitter' ></i></a>
            </div>
            <p>&#169; 2021 copyright all right reserved</p>
        </footer>


        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!-- ICON -->
        <<script src="gl.utils.spriteIcon"></script>
        <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
        <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>

        <!--===== MAIN JS =====-->
        <script src="{% static 'assets/js/main.js' %}"></script>
    </body>
</html>